html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
}

input,
button,
select,
option {
  background: none;
  padding: none;
  border: none;
  background-image: none;
  background-color: transparent;
}

$green-highlight: #2dff2f;
$green-background: #a7ffa8;

.portrait-mode {
  &.app-wrapper {
    height: 100vh;
    width: 100vw;
    min-width: 200px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
  }

  .controls-wrapper {
    height: 70%;
    padding: 5px;
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .key-and-scale-select {
    display: inline-flex;
    flex-direction: column;
  }

  .key-select,
  .scale-select {
    width: 70px;
    margin-bottom: 80px;
    transform: rotate(90deg);
    transform-origin: bottom left;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem
  }

  #shape-select-buttons {
    background: burlywood;
    flex-direction: column;
    .shape-select-button {
      font-size: .8rem;
      margin: 5px;
      padding: 2px;
      transform: rotate(90deg);
    }
  }

  .guitar-wrapper {
    height: 100%;
    width: 90%;
  }

  .fret-board {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .guitar-string {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .frets {
    height: 100%;
    flex-grow: 1;
    background: burlywood;
  }

  .frets-edge {
    height: 100%;
    width: 2%;
    background: burlywood;
  }

  .fret {
    height: 8.33%;
    border-bottom: 4px solid grey;
    position: relative;
  }

  .note {
    height: 8.33%;
    width: 0.5rem;
    flex-grow: 1;
    position: relative;
    background: silver;
    border-right: 1px dashed darkgray;
    border-left: 1px dashed darkgrey;
  }

  .note-text-backdrop {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .note-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    position: absolute;
    color: black;
    font-family: 'Roboto', sans-serif;
    p {
      padding: 5px;
    }
  }

  .root-note {
    height: 8.33%;
    width: 0.5rem;
    flex-grow: 1;
    position: relative;
    background: silver;
    border: none;
    border-right: 1px dashed darkgray;
    border-left: 1px dashed darkgrey;
  }

  .root-note-text {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .fret-dot {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 100%;
  }
}

.landscape-mode {
  &.app-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .controls-wrapper {
    padding: 5px;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .key-and-scale-select {
    display: inline-flex;
    flex-direction: row;
  }

  .key-select,
  .scale-select {
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
  }

  .guitar-wrapper {
    height: 95%;
    width: 100%;
  }

  .fret-board {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .guitar-string {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .frets {
    height: 8.33%;
    flex-grow: 1;
    display: flex;
    background: burlywood;
  }

  .frets-edge {
    height: 2%;
    width: 100%;
    display: flex;
    background: burlywood;
  }

  .fret {
    width: 8.33%;
    border-right: 4px solid grey;
    position: relative;
  }

  .note {
    height: 0.5rem;
    width: 8.33%;
    flex-grow: 1;
    position: relative;
    background: silver;
    border-top: 1px dashed darkgray;
    border-bottom: 1px dashed darkgrey;
  }

  .note-text-backdrop {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .note-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    p {
      padding: 5px;
    }
  }

  .fret-dot {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 100%;
  }
}

.highlight {
  text-align: center;
  background: $green-background;
}

#shape-select-buttons {
  display: inline-flex;
  flex-direction: row;
  .shape-select-button {
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: none;
    font-size: 1.1rem;
  }
}

.selected-shape {
  border: 2px solid $green-highlight;
  background: $green-background;
}

.root-note {
  height: 0.5rem;
  width: 8.33%;
  flex-grow: 1;
  position: relative;
  background: silver;
  border-top: 1px dashed darkgray;
  border-bottom: 1px dashed darkgrey;
}

.root-note-text-backdrop {
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 2px solid $green-highlight;
}

.root-note-text {
  width: 30px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  pointer-events: none;
  p {
    pointer-events: none;
  }
}

.root-note-shape-select {
  background: none;
  border: 2px solid $green-background;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1000;
}

.selected-root-note {
  border: 4px solid $green-highlight;
}

.fullscreen-button {
  padding: 0;
}
