html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
}

input,
button,
select,
option {
  background: none;
  padding: none;
  border: none;
  background-image: none;
  background-color: transparent;
}

.portrait-mode {
  &.app-wrapper {
    height: 100vh;
    width: 100vw;
    min-width: 200px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
  }

  .controls-wrapper {
    height: 50%;
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .fullscreen-button {
  }

  .note-select {
    width: 50px;
    transform: rotate(90deg);
    transform-origin: bottom left;
  }

  .note-select option {
    font-family: 'Roboto', sans-serif;
  }

  .guitar-wrapper {
    height: 100%;
    width: 92%;
    flex-grow: 1;
  }

  .fret-board {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .guitar-string {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .frets {
    height: 100%;
    flex-grow: 1;
    background: burlywood;
  }

  .frets-edge {
    height: 100%;
    width: 2%;
    background: burlywood;
  }

  .fret {
    height: 8.33%;
    border-bottom: 4px solid grey;
    position: relative;
  }

  .note {
    height: 8.33%;
    width: 0.5rem;
    flex-grow: 1;
    position: relative;
    background: silver;
    border-right: 1px dashed darkgray;
    border-left: 1px dashed darkgrey;
  }

  .note-text-backdrop {
    height: 20px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .note-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    position: absolute;
    color: black;
    font-family: 'Roboto', sans-serif;
  }

  .fret-dot {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 100%;
  }
}

.landscape-mode {
  &.app-wrapper {
    height: 96vh;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .controls-wrapper {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .fullscreen-button {
  }

  .note-select option {
    font-family: 'Roboto', sans-serif;
  }

  .guitar-wrapper {
    height: 95%;
    width: 100%;
    flex-grow: 1;
  }

  .fret-board {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .guitar-string {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .frets {
    height: 8.33%;
    flex-grow: 1;
    display: flex;
    background: burlywood;
  }

  .frets-edge {
    height: 2%;
    width: 100%;
    display: flex;
    background: burlywood;
  }

  .fret {
    width: 8.33%;
    border-right: 4px solid grey;
    position: relative;
  }

  .note {
    height: 0.5rem;
    width: 8.33%;
    flex-grow: 1;
    position: relative;
    background: silver;
    border-top: 1px dashed darkgray;
    border-bottom: 1px dashed darkgrey;
  }

  .note-text-backdrop {
    height: 20px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .note-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: black;
    font-family: 'Roboto', sans-serif;
  }

  .fret-dot {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 100%;
  }
}
